<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.nokia.cdt.debug.launch.contextLaunch">
<stringAttribute key="com.freescale.cdt.debug.cw.core.settings.DebuggerCommonData.Host App Path" value=""/>
<stringAttribute key="com.nokia.cdt.debug.cw.symbian.Epoc_Root" value="C:\S60\devices\S60_3rd_FP2_SDK_v1.1\"/>
<stringAttribute key="com.nokia.cdt.debug.cw.symbian.PN_ExecutablesToDebug" value=""/>
<booleanAttribute key="com.nokia.cdt.debug.cw.symbian.PN_IsSystemModeDebug" value="true"/>
<booleanAttribute key="com.nokia.cdt.debug.cw.symbian.PN_SupportOSView" value="true"/>
<intAttribute key="com.nokia.cdt.debug.cw.symbian.SettingsData.LCS_ExecutableTargetingRule" value="0"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.nokia.cdt.debug.cw.symbian.SymbianDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="gemride"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="Phone Debug (GCCE) [S60_3rd_FP2_SDK_v1.1]"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gemride"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="originalName" value="gemride"/>
</launchConfiguration>
